.userContentData{
   
    width: 90%;
    /*width:90%;*/
    top: 100px;
    margin: 0;
    padding: 0;
    animation-name: fadeIn;
    animation-duration: .1s;
    animation-delay: .5s;
    margin: 50px auto;
}

/* Edit profile */
/* --------------------------------------------------------------------------------------------- */

.editProfileForm label{
    font-size: 20px;
    font-weight: bold;
}

.editProfileForm input[type="text"], .editProfileForm input[type="password"]{
    border-radius: 0px;
    box-shadow:none;
    border-bottom: 2px solid #151515;
    background-color: #151515de;
    color: cornsilk;
}

.editProfileForm input[type="text"]::placeholder, .editProfileForm input[type="password"]::placeholder{
    color: cornsilk;
}

.editProfileForm input[type="text"]:focus{
    box-shadow:none;
    background-color: rgba(63,63,63,1);
}