
.icon-glass:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e801'; } /* '' */
.icon-note-beamed:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-star-filled:before { content: '\e804'; } /* '' */
.icon-trophy:before { content: '\e805'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */