<div className="newGymContainer">
    {this.state.gymIsAdding && <Spinner /> }
    

<div className="primaryDataContainer animated">
<form className="newGymForm primaryData animated" onSubmit={this.handleSubmit}>
    <legend>Dodaj nową siłownię</legend>
    <hr />

    <div className="form-group">
        <label htmlFor="name">Nazwa</label>
        <input type="text" name="name" className="form-control" autoComplete="off" />

        <label htmlFor="city">Miasto</label>
        <input type="text" name="city" className="form-control" />

        <label htmlFor="street">Ulica</label>
        <input type="text" name="street" className="form-control" />

        <label htmlFor="post_code">Kod pocztowy</label>
        <input type="text" name="post_code" className="form-control" />

        <label htmlFor="phone_number">Telefon komórkowy</label>
        <input type="text" name="phone_number" className="form-control" />

        <label htmlFor="landline_phone">Telefon stacjonarny</label>
        <input type="text" name="landline_number" className="form-control" />

        <label htmlFor="mail">E-mail</label>
        <input type="text" name="mail" className="form-control" />

        <label htmlFor="description">Opis</label>
        <textarea className="form-control" name="description" id="" cols="30" rows="10"></textarea>


    </div>
</form>


    <div className="formTitle">
        <h3>Harmonogram</h3>
        Dodaj godziny otwarcia Twojej siłowni
     <hr />
    </div>

    <form className="openingHoursForm newGymForm">

        <div className="form-group">
            <label>Pon</label>
            <input type="time" name="monO" className="form-control" />
            <input type="time" name="monC" className="form-control" />
        </div>

        <div className="form-group">
            <label>Wt</label>
            <input type="time" name="tueO" className="form-control" />
            <input type="time" name="tueC" className="form-control" />
        </div>

        <div className="form-group">
            <label htmlFor="">Śr</label>
            <input type="time" name="wedO" className="form-control" />
            <input type="time" name="wedC" className="form-control" />
        </div>

        <div className="form-group">
            <label htmlFor="">Czw</label>
            <input type="time" name="thuO" className="form-control" />
            <input type="time" name="thuC" className="form-control" />
        </div>

        <div className="form-group">
            <label htmlFor="">Pt</label>
            <input type="time" name="friO" className="form-control" />
            <input type="time" name="friC" className="form-control" />
        </div>

        <div className="form-group">
            <label htmlFor="">Sob</label>
            <input type="time" name="satO" className="form-control" />
            <input type="time" name="satC" className="form-control" />
        </div>

        <div className="form-group">
            <label htmlFor="">Nd</label>
            <input type="time" name="sunO" className="form-control" />
            <input type="time" name="sunC" className="form-control" />
        </div>



    </form>
</div>



<div className="offers animated ">
    <div className="formTitle">
        <h3>Oferta</h3>
        Dodaj oferty jakie są dostępne w Twojej siłowni (Siłownia,Basen,Sauna...)
     <hr />
    </div>

    <div className="formTitle">
        {/* <h4>Dodane oferty:</h4> */}
        <ul className="list-group">
            {currentOffers}
        </ul>
    </div>
    <div className="formTitle addOffer">
        <i className="fas fa-plus-circle showOfferForm" onClick={this.showOfferForm} data-toggle="collapse" data-target="#offerForm"></i>
    </div>

    <form id="offerForm" className="newGymForm offerForm collapse" onSubmit={this.handleOfferSubmit}>


        <label htmlFor="offerName">Nazwa oferty</label>
        <input name="offerName" type="text" className="form-control" />

        <label htmlFor="offerDescription">Opis oferty</label>
        <textarea name="offerDescription" id="" cols="30" rows="5" className="form-control"></textarea>
        <br />

        <button className="btn btn-primary" >Dodaj oferte</button>
        <br /> <br />

    </form>
</div>

<div className="packages animated ">
    <div className="formTitle">

        <h3>Cennik</h3>
        Dodaj pakiety jakie Twoja siłownia oferuje. <br />
        Przykład: 1 wejście, 6zł , 1raz
    <hr />
    </div>

    {/* ----------------------------------------------------------------------------------------- */}
    {/* -----------------------------------------PAKIETY----------------------------------------- */}
    {/* ----------------------------------------------------------------------------------------- */}

    <div className="formTitle">
        {/* <h4>Dodane pakiety:</h4> */}
        <ul className="list-group">
            {currentPackages}
        </ul>
    </div>

    <div className="formTitle addPackages">
        <i className="fas fa-plus-circle showPackageForm" onClick={this.showOfferForm} data-toggle="collapse" data-target="#packageForm"></i>
    </div>

    <form id="packageForm" className=" newGymForm packageForm collapse" onSubmit={this.handlePackageSubmit}>


        <label htmlFor="packageName">Nazwa pakietu</label>
        <input name="packageName" type="text" className="form-control" />

        <label htmlFor="packagePrice">Cena pakietu(zł)</label>
        <input type="number" className="form-control" name="packagePrice" />

        <label htmlFor="packagePeriod">Okres/Liczebność</label>
        <input type="text" className="form-control" name="packagePeriod" />

        <br />
        <button className="btn btn-primary" >Dodaj oferte</button>
        <br /> <br />

    </form>
</div>

{/* Pobieranie zdjęć */}
{/* ----------------------------------------------------------------------------------------- */}
{/* <form className="newGymForm photoForm">
    <label htmlFor="photo">Dodaj zdjęcie</label>
    <input type="file" name="photo"  accept="image/png, image/jpeg" multiple="true" className="form-control"/>
</form> */}





</div >
<div className="newGymButtons">
<div className="formTitle">
    <div className="btn btn-success sendForm" onClick={this.handleSubmit}>Wyślij formularz</div>
</div>

</div>