.myAlertPrimary{

    width:50%;
    background-color: orange;
    color:white;
    padding:30px 15px;
    border-radius : 10px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    top:100px;
    left:25%;
    z-index : 9999999999999999;

}


.bgc-very-dark{
    background-color: #151515;
}

.bgc-cornsilk{
    background-color: cornsilk;
}
.bgc-white{
    background-color: #fff;
}

.logggedInAlert{
    min-height: 100vh;
    width:100%;
    
}

.loggedInAlertContent{
    width : 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    position: relative;
    top: 10%;
    background-color: cornsilk;
    padding : 100px 20px;
    border-radius: 10px;
    
}

.loginUser .badge {
     border-radius: 0;
 }

 .color-red {
     color: red;
     font-size: 15px !important;
 }


 /* ------------------------------------------------------------------------- */
 /* ------------------------------------------------------------------------- */
 /* TRAINER REGISTER  */
 /* ------------------------------------------------------------------------- */
 /* ------------------------------------------------------------------------- */

 .gymContainer {
     overflow-x: hidden;
 }

 .newGymContainer,
 .trainerRegister {
     background-image: url('../images/registerBg.jpg');
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
 }

 .newGymContainer {
     padding-top: 100px;


 }

 .newGymContainer i {
     cursor: pointer;
 }

 .newGymForm label {
     font-weight: bold;
 }

 .newGymContainerForms {
     background-color: white;
     margin-bottom: 50px;

 }

 .trainerRegister {
     max-width: 100%;
     min-height: 100vh;
     /* background-color: cornsilk; */
     overflow-x: hidden;
     /* background-color: #151515; */

 }

 .trainerRegister form {
     box-shadow: 0px 0px 5px black;
     border-radius: 5px;
     margin-top: 100px;
 }

 .trainerRegister hr {
     border-color: #151515;
 }

 .trainerRegister label {
     font-weight: bold;
 }

 .registerTrainerPackages .form-group {
     /* width:30%; */
 }

 .trainerRegister ul li {

     border: none;

 }

 .tip {
     position: absolute;
     display: inline-block;
 }

 .tip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: #151515;
     color: #fff;
     text-align: center;
     border-radius: 6px;
     padding: 5px 0;
     position: absolute;
     z-index: 1;
     bottom: 100%;
     left: 50%;
     margin-left: -60px;

     /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
     opacity: 0;
     transition: opacity .3s;
 }

 .tip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
 }

 .trainer-photos {
     flex-flow: row wrap
 }

 .trainer-photos .userAvatar {
     width: 29%;
 }

 .trainer-photos .userAvatar,
 .trainer-photos .userAvatar img {

     border-radius: 5px;

 }

 .userAvatar .overlay {
     position: absolute;
     background-color: rgba(63, 63, 63, 0.6);
     width: 100%;
     height: 100%;
     border-radius: inherit;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     transition: .4s ease;
     cursor: pointer;
 }

 .userAvatar:hover .overlay {
     opacity: 1;
 }

 .userAvatar .overlay i {
     font-size: 25px;

 }



 .inputfile {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;

 }

 .inputfile+label {
     font-size: 1.25em;
     font-weight: 700;
     color: white;
     background-color: #262626;
     display: inline-block;
     padding: 5px 10px;
     border-radius: 5px;
     transition: .3s ease;
 }

 .inputfile+label:hover {
     background-color: red;
 }

 .inputfile+label {
     cursor: pointer;
     /* "hand" cursor */
 }

 .inputfile:focus+label {
     outline: 1px dotted #000;
     outline: -webkit-focus-ring-color auto 5px;
 }

 .gymPhoto {
     width: 150px;
     height: 150px;

 }

 .gymPhoto img {
     width: 100%;
     height: 100%;
 }

 .gymPhoto,
 .gymPhoto img {
     border-radius: 10px;
 }


 .gymSearch {
     background-image: url('../images/31-36.jpg');
     background-size: cover;
     background-position: center;

     /* filter: grayscale(100%); */
 }

 .trainerSearch {
     background-image: url('../images/personalTrainerBg.jpg');
     background-size: cover;
     background-position: center;

 }

 .gymSearchContent,
 .trainerSearchContent {


     width: 100%;
     height: 100%;
     padding-top: 150px;
     padding-bottom: 50px;
 }

 .gymSearchContent {
     background-color: rgba(0, 0, 0, 0.8);
 }

 .trainerSearchContent {
     background-color: rgba(0, 0, 0, 0.9);
 }

 .gymListContainer {
     background-color: cornsilk;
     width: 100%;
     margin: 0;
     min-height:50vh;
 }



 .gymSearchContent h1 {
     letter-spacing: 2px;
 }

 .gymSearchContent .container .row .input-group input {
     border-radius: 8px;
     padding: 5px 10px;
 }

 .card {
     background-color: #262626;
     position: relative;
     border: none;
 }

 /* .trainerCard{
    height: 100px;
} */

 /* .card-body {
    position: relative;
}*/
 #gymItemBodyContent {
     background-color: rgba(30, 30, 30, 0.9);
     width: 100%;
     height: 100%;
 }

 #gymItemBody {
     background-image: url('../images/gymItem.jpg');
     background-position: center;
     background-size: cover;
 }

 .footer-copyright {
     background-color: #151515;
 }

 .trainerProfileEditContainer {
     /* position: relative; */
 }

 .editPackage,
 .editSkill {
     position: fixed;
     top: 30%;
 }

 .resetPasswordContainer,
 .changePasswordContainer,
 .verifyEmailContainer {

     background-image: url('../images/registerBg.jpg');
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     min-height: 100vh;
     overflow: hidden;
 }

 .resetPasswordContainer .row .col-lg-6 form,
 .changePasswordContainer .row .col-lg-6 form {
     margin-top: 200px;
     padding: 25px 30px;
 }

 .resetPasswordContainer .row .col-lg-6 form h3 {
     text-align: center;
 }

 .equipment .form-group input {
     cursor: pointer;
 }

 .spinnerContainer {
     position: fixed;
     top: 0;
     width: 110%;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.7);
     margin: 0;
     padding: 0;
     z-index: 999999999999999;
 }

 .spinnerContent {
     position: absolute;
     width: 50%;
     left: 20%;
     top: 50%;
     font-size: 20px;
 }

 .verifyEmailContent{
     position: relative;
     background-color: white;
     padding : 30px 15px;
     top : 150px;
     left : 0
 }

 .dataLoading{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height : 100vh;
    background-color: #262626;
    color:white;
    
}

.dataLoadingMessage{
    position: absolute;
    width:100%;
    top:25%;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gymDetailsContainer{
    background-image: url('../images/wallpaperGym_1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding:0;
}
.gymDetailsContainer div{
    color : #262626;

}
.gymContent{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.93);
    margin:0;
}

.gymContent .gymHeader{
    width:87%;
}

.gymContent .card, .gymComments, .gymContent textarea {
    background-color: rgb(224, 221, 221);
}

.gymComments{
    width:93%;
    font-weight :bold;
    border-radius : 5px;
}

.gymAvatar{
    background-color: #fff;
    width:142px;
    border-radius : 50%;
    background-image: url('../images/wallpaperGymEquipment.jpg');
    background-position: center;
    background-size: cover;
}

.trainerList{
    min-height: 50vh;
}

.trainerView{
    
    background-color: #484848;
}

.trainerView div{
    color : cornsilk;
}

.gymCommentForm{

    width: 93%;
    margin-top:30px;
    margin-bottom:30px;
}

.gymCommentForm textarea{
    color : black !important;
    font-weight: bold;
}

.gymCommentForm button{
    width:100%;
    margin-left: 5%;
}
.trainerView{
    background-image: url('../images/wallpaperTrainer.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding:0;
    margin:0;
    overflow-x : hidden;
}
.trainerViewContent{
    position: relative;
    padding : 120px 10px 10px 30px;
    width:100%;
    height:100%;
    top:0;
    left:0;
    margin:0px !important;
    background-color: rgba(0,0,0,0.93);
}

.trainerViewContent .card, .trainerViewContent ul.nav ,.trainerComment{
    background-color: rgb(224, 221, 221);
    color : #262626;
}

.trainerHeader{
    width:91.4%;
}

 /* RESPONSIVE */
 /* ---------------------------------------------------------------------------- */

 @media only screen and (max-width: 1200px) {

     .loginContent,
     .registerContent {
         width: 55%;
     }

     .forumHeader .logo {
         font-size: 35px;
     }

     .forumHeader .menu {
         font-size: 25px;
     }

     .forumNav {
         position: fixed !important;
         /* display:none; */
         width: 50%;
         left: -100%;
         top: 148px;
         background-color: cornsilk;
     }

     .forumNav i.fa-times {
         display: block;
     }

     .forumContent {
         width: 100% !important;
     }

     .showForumNav {
         display: block;
     }

     .gallery .bigImage {
         width: 80%;
         height: 80vh !important;
         background-color: red;
         left: 10%;
     }

     .gallery .bigImage img {
         width: 100%;
         height: 100%;
     }

     .gallery .bigImage .prevImage,
     .nextImage {}

 }

 @media only screen and (max-width: 1100px) {



     .forumMain {
         flex-direction: column;
     }

     .logo {
         font-size: 20px;
     }

     .stats {
         width: 180px !important;
     }

     .ans,
     .votes {
         display: flex;
         float: none;
         width: 100%;
         height: 50%;
         justify-content: center;
         align-items: center;
     }

     .topic {
         font-size: 12px;
     }

     .postContentTopic {
         font-size: 20px;
         width: 70%;
     }

     .votesCounter {
         font-size: 18px;
     }


     .postContentHeader .userAvatar {
         width: 15%;
     }

 }


 /* PROFILE */
 @media only screen and (max-width: 1000px) {

     .loginContent,
     .registerContent {
         width: 65%;
     }

     .forumHeader {
         height: 50px;
     }

     .userMenu {
         top: 55px;
         width: 220px;
     }

     .userOptionsList {
         font-size: 17px;

     }

     .forumHeader .logo {
         font-size: 30px;
     }

     .forumHeader .menu {
         font-size: 20px;
     }

     .loginUser {
         width: 70px;
     }

     .userPersonalData,
     .userForumData {
         width: 100%;
         margin-left: auto;
         margin-right: auto;
     }

     .userPersonalData,
     .listContainer {
         margin-bottom: 15px;

     }

     .sheduleContainer {
         grid-template-areas: 'list'
             'container' !important;
     }

     .trainingDetailsButtons {
         bottom: -5% !important;
     }

     .postContentHeader {
         max-height: 90px;
     }

     /* .postContentHeader .userAvatar a img{
         display: none;
     } */

     .postContentHeader .userAvatar {
         height: 100%;
     }

     .postContentHeader .userAvatar a {
         height: 100%;
     }

     .postContentHeader .userAvatar a img {
         max-height: 90px;
     }

     .topic {
         font-size: 10px;
     }

     .stats {
         width: 180px !important;
     }

     .postContentEvaluations {
         width: 11%;

     }

     .postContentEvaluations i {
         font-size: 20px;
     }

     .postContentTopic {
         font-size: 20px;
         width: 77%;
     }

     .votesCounter {
         font-size: 18px;
     }


     .postContentHeader .userAvatar {
         width: 12%;
     }

     .postContentText,
     .answerContentText {
         font-size: 15px;
     }

     .answer {
         font-size: 15px;
     }

     .beforeAnswers {
         font-size: 20px;
     }

     .topicsGroupTitle {
         font-size: 25px;
     }

     .title {
         font-size: 23px !important;
     }

     .sendAnswer {
         font-size: 15px;
         padding: 12px 3px;
     }

     .askingQuestionDiv h3 {
         font-size: 20px !important;
     }

     .saveQuestion {
         font-size: 17px;
         padding: 10px 5px;
         width: 150px
     }

     .gallery .bigImage {
         width: 90%;
         height: 60vh !important;
         background-color: red;
         left: 5%;
     }

     .gallery .bigImage img {
         width: 100%;
         height: 100%;
     }

     .gallery .bigImage .prevImage,
     .nextImage {
         opacity: 0.5;
     }

 }

 @media only screen and (max-width: 900px) {

    .message .messageData,
    .message .messageData i,
    .message .messageText,
    .messageListOption{
        font-size: 18px;
    }
     .forumHeader .logo {
         /* font-size: 20px; */
         /* display: none; */
         width: 50%;
     }

     .forumHeader {
         justify-content: space-between;
         background-color: rgba(255, 51, 51, 1);
     }


     .hamburgerButton {
         display: block;
     }

     .forumHeader .menu {

         top: 55px;
         position: fixed;
         font-size: 13px;
         height: auto;
         width: 30%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: rgba(255, 51, 51, 1);
         float: none;
         padding: 0px 10px;
         transition: .3s ease;
         left: 5px;
         border-radius: 5px;

         /* left: -500px; */

     }

     .menuInvisible {
         left: -100% !important;
     }



     .forumHeader .menu .menuItem {
         width: 100%;
         text-align: center;
         font-size: 20px;
     }

     .postContentTopic,
     .votesCounter,
     .postContentEvaluations {
         font-size: 15px !important;
     }

     .forumHeader .menu {
         font-size: 18px;
     }
 }

 @media only screen and (max-width: 900px) {
     .forumHeader .menu {
         font-size: 15px;
     }

     .forumHeader .logo {
         font-size: 25px;

     }
 }

 @media only screen and (max-width: 800px) {

     .loginContent,
     .registerContent {
         width: 70%;
     }

     .messageListOption{
        font-size: 15px;
     }
 }

 @media only screen and (max-width: 700px) {


     .forumHeader .logo {
         font-size: 20px;

     }

     .loginContent,
     .registerContent {
         width: 75%;
     }



     .userPersonalData,
     .userForumData {
         font-size: 15px !important;
     }

     .forumNav {
         width: 90%;
     }

     .postTopic {
         font-size: 25px !important;
     }

     .postData {
         font-size: 15px !important;
     }

     .stats {
         width: 150px !important;


     }

     .ans,
     .votes {
         font-size: 15px;
     }

     .topic {
         font-size: 8px;
     }

     .postContentTopic {
         width: 70%;
         font-size: 13px !important;
     }

     .postContentEvaluations {
         width: 15%;
     }

     .postContentHeader .userAvatar {
         width: 15%;
     }

     .postContentText,
     .answerContentText {
         font-size: 13px;
     }

     .answer {
         font-size: 13px;
     }

 }